body{
  background-color: #4772f5;
  background-size: cover;
  height: 100vh;
  margin: 0;
  font-family: 'Sarabun', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  max-width: 100%;
  margin: 20px auto;
}
